.MyPageMain {
  background-color: aqua;
  margin-left: 10%;
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#myIf {
  display: flex;
  justify-content: center;
  font-size: 40px;
  padding: 20px;
}

.HeaderName {
  background-color: yellow;
}

#Mypagenickname {
  font-weight: bold;
  font-size: 30px;
  margin-top: 20px;
}

.MypagenicknameIf {
  padding: 20px;
  font-weight: bold;
  font-size: 30px;
}

.imgFile {
  background-color: red;
}

#MypageProfileImg {
  padding: 20px;
  font-weight: bold;
  font-size: 30px;
}

#fileImg {
  border: 2px solid;
}

#MyInfo {
  border: 2px solid;
  padding: 5px;
}

#Info {
  border: 2px solid;
  padding: 5px;
}
